{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Question Detail</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{% static 'polls/all.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="icon" href="/static/images/favicon.ico">
  </head>
  <body>
    <div class="page-header">
        {% if user.is_authenticated %}
        {% endif %}
        <a href="{% url 'home' %}" class="top-menu"><span class="glyphicon glyphicon-home"></span></a>
        <a href="{% url 'polls:blockchain' %}" class="top-menu"><span class=""><i class="fab fa-ethereum" style='font-size:50px;color:black'></i></span></a>        
	<h1>Ethereum</h1>
    </div>
    <div class="content">
	<div class="blockchain">
	    <form action="" method="GET">
	    {% csrf_token %}
	    <p>Current block number (Ropsten Network): {{ current_block_num }}</p>
	    <button type="submit-default" name="current-block-btn">Get</button>
	    </form>
	    <br>
	    <div class="wallet amount">
		<form action="" method="POST">
		    {% csrf_token %}
		    <label for="wallet address">Enter the wallet address:</label>
		    <input type="text" id="wallet address" name="address" placeholder="0x..." size="45">
		    <input type="submit" value="Submit">
		</form>
		<br>
		<p>You entered the wallet address of: <em>{{ address }}</em></p>
		<p>The amount of ETH in this wallet is: <em>{{ wallet_balance }}</em></p>
	    </div>
	</div>
    </div>
  </body>
</html>
