{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
  <a href="{% url 'polls:blockchain' %}" class="top-menu"><span><i class="fab fa-ethereum" style='font-size:50px;color:black'></i></span></a>
  <h1>Survey-Chain</h1>    
</div>
<div class="content">
<div class="auth">
  {% if user.is_authenticated %}
    <h2>Hi {{ user.username }}!</h2>
    <button type="button" class="btn btn-dark"><a href="{% url 'logout' %}" class="login-logout-buttons text-decoration-none">Log Out</a></button>
  <header>
  {% endif %}
</div>
<div class="app-links">
  <h3><a href="{% url 'polls:index' %}">Polls</a></h3>
</div>
<div class="home-message">
  <p>Please login or signup to access all website features.</p>
  <br>
  <p>For the moment, you may even sign up with a fake email address to test the sites functionality.</p>
</div>
<div class="login-logout-buttons">
    <button type="button" class="btn btn-dark"><a href="{% url 'login' %}" class="text-decoration-none">Log In</a></button> |
    <button type="button" class="btn btn-dark"><a href="{% url 'users:signup' %}" class="text-decoration-none">Sign Up</a></button>
</div>
</div>
{% endblock %}
