{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="page-header">
  
  <!-- Authentication Nav Bar Content-->
  
  <div class="auth">
    {% if user.is_authenticated %}
      <p class="account-user top-menu">Hi {{ user.username }}!</p>
      <a href="{% url 'logout' %}" class="top-menu text-decoration-none login-links">Log Out</a>
    {% endif %}
  </div>
  {% if user.is_anonymous %}
    <a href="{% url 'login' %}" class="top-menu text-decoration-none login-links"><span>Log In</span></a>
    <a href="{% url 'users:signup' %}" class="top-menu text-decoration-none login-links"><span>Sign Up</span></a>
  {% endif %}
  
  <!-- Nav Bar Content -->
  
  <a href="{% url 'polls:blockchain' %}" class="top-menu"><span><i class="fab fa-ethereum" style='font-size:50px;color:black'></i></span></a>
  <a href="{% url 'polls:index' %}" class="top-menu app-links"><span>Polls</span></a>
  <h1>Survey-Chain</h1>    
</div>
<div class="container-fluid">
  <div class="image-header">
      <img src="static/images/blockchainVotePic.jpg">
  </div>
  
  <!-- features -->
  
  <section id="features">
    <div class="row">
      <div class="col-lg-4">
        <i class="icon fas fa-user-lock"></i>
        <h3 class="feature-heading">Secure</h3>
        <p class="feature-message">Your ballots are kept private when written to the blockchain.</p>
      </div>
      <div class="col-lg-4">
        <i class="icon fas fa-fingerprint"></i>
        <h3 class="feature-heading">Immutable</h3>
        <p class="feature-message">Submit your vote and feel confident that it cannot be altered.</p>
      </div>
      <div class="col-lg-4">
        <i class="icon far fa-clock"></i>
        <h3 class="feature-heading">Convenient</h3>
        <p class="feature-message">Cast your ballot on your own time wherever you have secure internet connection.</p>
      </div>
    </div>
  </section>
  
  <!-- Footer -->
  
  <footer id="footer">
      <i class="social-icons fab fa-facebook"></i>
      <i class="social-icons fab fa-twitter-square"></i>
      <i class="social-icons fab fa-instagram"></i>
      <p>© Copyright 2020 Survey-Chain</p>
  </footer>
</div>
{% endblock %}
